
/* .....style for View Freelancer page..... */

.background-img {
  background-image: url("images/background/white-ring.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  z-index: -1;
}

.logo {
  background-image: url("images/logo/logo.png");
  height: 70px;
  border-radius: 50%;
  background-position: center;
}

/* .navAuthenFrame {
  position: relative;
} */

.navAuthen {
  display: inline-block;
  font-weight: bold;
  /* display: none; */
  /* position:absolute;
  top:0;
  right:0; */
}

.logout {
  display: none;
  /* display: inline-block;
  font-weight: bold; */
}

#portfolio-1 {
  background-position: center;
  height: 350px;
}

.freelancer-card {
  align-items: center;
}

.card-listing {
  margin-left: 12px;
  margin-bottom: 12px;
}

.card-listing:hover {
  background-color: rgba(221, 214, 214, 0.61);
}

.rating {
  color: rgb(245, 174, 42);
  font-weight: bold;
}

.comment {
  padding-left: 10px;
  color: grey;
}

.text-wrapper {
  background-color: rgb(247, 230, 244);
  font-weight: normal;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.type {
  background-color: rgb(222, 222, 245);
}

#profile-img {
  background-position: center;
  background-size:cover;
  height: 75px;
  width: 85px;
  border-radius: 50%;
}

.profile-info {
  font-size: large;
  font-weight: bold;
}

.facebook-icon {
  color: rgb(7, 7, 146);
}

.instagram-icon {
  color: rgb(177, 22, 164);
  margin-left: 10px;
}

.tiktok-icon {
  margin-left: 10px;
  color: rgb(236, 35, 35);
}

.hr-line {
  color: rgb(168, 165, 165);
}

.reviewer-name {
  color: rgb(27, 26, 26);
}

/* .....style for Give comment page..... */

.comment-box {
  height: 100px;
}



/* ................................................style for meduim and large screen..................................................... */

/*.................................. for iPad .................................. */

/* style for View Freelancer page */

@media (min-width: 768px) {

  .card-listing {
    margin-left: 8px;
    margin-bottom: 15px;
  }


}



/*.................................. for laptop .................................. */


@media (min-width: 992px) {

  /* style for View Freelancer page */

  .card-listing {
    margin-left: 35px;
    margin-bottom: 15px;
  }

  /* .....style for Register form page..... */

  .register-description {
    font-style: italic;
    text-align: center;
    /* color: rgb(248, 102, 48); */
    color: rgb(190, 54, 4);
  }

  .account-creation-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .account-form {
    text-align: center;
  }

  .register-text {
    margin-top: 35px;
    font-size: larger;
  }

  .register-form-headline {
    font-weight: bold;
  }

  .profession-session {
    margin-left: 170px;
  }

  .bio-box {
    height: 120px;
  }

  .side-note {
    font-style: italic;
    font-size: small;
    font-weight: normal;
  }

  .rate-field {
    margin-left: 5px;
  }

  .rate-input {
    width: 110px;
  }

  .preview {
    margin-top: 20px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 1px solid grey;
    height: 230px;
    width: 230px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
  }

  .portfolio-preview {
    margin-left: 90px;
  }

  .portfolio-title {
    margin-bottom: 10px;
  }

  .media-field {
    margin-left: 5px;
    width: 400px;
  }

  .tiktok {
    margin-left: 36px;
  }

  .mobile {
    margin-left: 13px;
  }

  .email {
    margin-left: 27px;
  }

  .web {
    margin-left: 5px;
  }

  .account-btn:hover {
    background-color: rgb(221, 169, 178);
    color: black;
    font-weight: bold;
  }

  /* .....END of style for Register form page..... */

}