.background-img {
  background-image: url("images/background/white-ring.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  z-index: -1;
}

.logo {
  background-image: url("images/logo/logo.png");
  height: 70px;
  border-radius: 50%;
  background-position: center;
}

/* .navAuthenFrame {
  position: relative;
} */

.navAuthen {
  display: inline-block;
  font-weight: bold;
  /* display: none; */
  /* position:absolute;
  top:0;
  right:0; */
}

.logout {
  display: none;
  /* display: inline-block;
  font-weight: bold; */
}

#portfolio-1 {
  background-position: center;
  height: 350px;
}

.freelancer-card {
  align-items: center;
}

.card-listing {
  margin-left: 35px;
  margin-bottom: 15px;
}

.card-listing:hover {
  background-color: rgba(221, 214, 214, 0.61);
}

.rating {
  color: rgb(245, 174, 42);
  font-weight: bold;
}

.comment {
  padding-left: 10px;
  color: grey;
}

.text-wrapper {
  background-color: rgb(247, 230, 244);
  font-weight: normal;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.type {
  background-color: rgb(222, 222, 245);
}

#profile-img {
  background-position: center;
  background-size:cover;
  height: 75px;
  width: 85px;
  border-radius: 50%;
}

.profile-info {
  font-size: large;
  font-weight: bold;
}

.facebook-icon {
  color: rgb(7, 7, 146);
}

.instagram-icon {
  color: rgb(177, 22, 164);
  margin-left: 10px;
}

.tiktok-icon {
  margin-left: 10px;
  color: rgb(236, 35, 35);
}

.hr-line {
  color: rgb(168, 165, 165);
}

.reviewer-name {
  color: rgb(27, 26, 26);
}
