

/* .....Global class..... */

.position-right {
  display: flex;
  justify-content: flex-end;
}

.bold {
  font-weight: bold;
}

.disabled {
  color: rgb(110, 108, 108);
  font-style: italic;
}

.beta {
  color: red;
  font-variant: small-caps;
  font-style: oblique;
}

.head-center {
  display: flex;
  justify-content: center;
}

.error-msg {
  color: red;
}

.grey {
  color: rgb(145, 140, 140);
}

/* ..... style for Navbar ..... */

.background-img {
  background-image: url("images/background/white-ring.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  z-index: -1;
  /* height: 900px; */
}

.logo {
  /* background-image: url("images/logo/logo.png"); */
  margin-left: -8px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
}

.search-box {
  display: none;
}

.search-box-sm {
  display: flex;
  margin-left: -18px;
}

.navAuthenFrame {
  font-weight: bold;
  font-size: 15px;
  text-align: end;
  margin-right: -10px;
}

.navAuthen {
  font-weight: bold;
  font-size: 15px;
  /* margin-left: -10px; */
}


/* .....style for View Freelancer page / Listing page..... */

.filter-row {
  margin-bottom: 10px;
}

.filter-tab {
  display: none;
}

.filter-col {
  margin-bottom: 5px;
}

.logout {
  display: block;
  font-weight: bold;
  text-align: end;
  margin-right: 10px;
}

#portfolio-1 {
  background-position: center;
  height: 350px;
}

.freelancer-card {
  align-items: center;
}

.card-listing {
  width: 21rem;
  margin-left: 8px;
  /* margin-left: -3px; */
  margin-bottom: 12px;
}

.card-listing:hover {
  background-color: rgba(221, 214, 214, 0.61);
}

.rating {
  color: rgb(245, 174, 42);
  font-weight: bold;
}

.comment {
  padding-left: 10px;
  color: grey;
}

.text-wrapper {
  background-color: rgb(247, 230, 244);
  font-weight: normal;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.type {
  background-color: rgb(222, 222, 245);
  text-align: center;
}

#profile-img {
  background-position: center;
  background-size:cover;
  height: 75px;
  width: 85px;
  border-radius: 50%;
}

.profile-info {
  font-size: large;
  font-weight: bold;
}

.facebook-icon {
  color: rgb(7, 7, 146);
}

.instagram-icon {
  color: rgb(177, 22, 164);
  margin-left: 10px;
}

.tiktok-icon {
  margin-left: 10px;
  color: rgb(236, 35, 35);
}

.hr-line {
  color: rgb(168, 165, 165);
}

.listing-btn {
  margin-left: 40px;
}


/* .....style for Give review form page..... */

.modal-body {
  margin-left: 5px;
  margin-right: 5px;
}

.review-title {
  text-align: center;
  margin-right: 5px;
}

.comment-box {
  height: 100px;
}

.submit-review-btn {
  font-weight: bold;
}

/* .....style for View profile page..... */

.header-model-md {
  display: none;
}

.profile-overview {
  overflow-y: auto;
  max-height: 130px;
}

.reviewer-name {
  color: rgb(27, 26, 26);
}
  
.carousel-img {
  /* width: 100px; */
  /* height: 195px; */
  height: 200px;
}

.carousel-description {
  margin-bottom: -30px;
  font-size: 15px;
}


/* .....style for login page..... */

.login-background {
  background-image: url("../src/images/background/ring-on-neckless-blur.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  /* background-position: center; */
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}

.login-title {
  margin-top: 3px;
  margin-left: 50px;
  color: white;
  font-weight: bold;
}

.logo-login {
  /* background-image: url("images/logo/logo.png"); */
  height: 110px;
  width: 140px;
  border-radius: 50%;
  background-position: center;
  align-items: center;
  margin-left: 75px;
  margin-bottom: 20px;
}

.cross-btn {
  color: white;
  font-size: large;
}

.cross-btn:hover {
  color: rgb(221, 169, 178);
}

.login-fail {
  background-color: rgb(240, 140, 122);
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

.login-content {
  margin-left: 35px;
  margin-right: 35px;
}

.user-icon {
  font-size: 25px;
  margin-left: -20px;
  margin-right: 12px;
  color: rgb(243, 208, 214);
}

.login-btn-div {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login-btn {
  font-size: 17px;
}


/* .....style for Profile Register form page..... */

.page-hight {
  height: 310px;
}

.register-description {
  font-style: italic;
  text-align: center;
  /* color: rgb(248, 102, 48); */
  color: rgb(190, 54, 4);
  font-size: 14.5px;
}

.btn-profile-size {
  /* margin-right: -20px; */
  margin-left: 15px;
  font-size: 17px;
}

.btn-acct-size {
  margin-left: 15px;
  font-size: 17px;
}

.account-form {
  text-align: center;
}

.col-margin {
  margin-top: 10px;
}

.register-form-headline {
  font-weight: bold;
}

.register-text {
  margin-top: 18px;
}

.account-creation-form {
  margin-bottom: 40px;
}

.profession-small {
  margin-top: 20px;
}

.side-note {
  font-style: italic;
  font-size: small;
  font-weight: normal;
}

.rate-field {
  margin-left: 5px;
}

.rate-input {
  width: 110px;
}

.bio-box {
  height: 120px;
}

.media-field {
  margin-left: 5px;
  width: 270px;
}

.tiktok {
  margin-left: 34px;
}

.contact-col {
  margin-top: 15px;
}

.mobile {
  margin-left: 25px;
}

.email {
  margin-left: 36px;
}

.web {
  margin-left: 17px;
}

.preview {
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid grey;
  height: 230px;
  width: 230px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.profile-img-preview {
  border-radius: 50%;
}

.img-discription {
  text-align: center;
}

.showcase-col {
  margin-top: 17px;
}

.portfolio-head {
  margin-top: 25px;
  margin-bottom: -17px;
}

.portfolio-preview {
  margin-left: 60px;
}

.portfolio-number {
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: bold;
}

.portfolio-title {
  margin-bottom: 10px;
}


/* .....style for Edit Profile form / Manage account page..... */

.edit-acct-nav-card {
  width: 18rem;
  margin-left: 35px;
  margin-top: -40px;
  margin-bottom: 15px;
}

.nav-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-card:hover {
  color: rgb(5, 5, 202);
}

.nav-card:visited {
  color: rgb(5, 5, 202);
  font-weight: bold;
}

.edit-bio-col {
  margin-bottom: 20px;
}

.edit-acct-btn {
  font-size: 17.5px;
}

.showcase {
  margin-left: 45px;
}

/* .....style for change password tab..... */

.change-success {
  background-color: rgb(161, 238, 161);
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

/* .....style for delete account tab..... */

.delete-account {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin-bottom: 240px;
}

.delete-account-btn {
  font-size: 19px;
}

.delete-account-btn:hover {
  background-color: rgb(161, 32, 32);
  font-weight: bold;
}


/* ................................................style for meduim and large screen..................................................... */

/*.................................. for iPad .................................. */


@media (min-width: 768px) {

  /* style for Navbar */

  .navAuthenFrame {
    font-size: 16px;
    margin-right: -3px;
  }

  .navAuthen {
    font-size: 16px;
  }

  .logo {
    margin-left: 5px;
    height: 70px;
  }

  .search-input-box {
    width: 500px;
    height: 42px;
    font-size: 16px;
  }


  /* style for View Freelancer / listing page */

  .card-listing {
    margin-left: 0px;
  }

  .card-text {
    overflow-y: auto;
    height: 35px;
  }


  /* .....style for Give review form page..... */

  .modal-body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .review-title {
    margin-right: 0px;
  }

  /* .....style for View Profile page..... */

  .header-model-md {
    display: flex;
  }

  .header-model-sm {
    display: none;
  }
  
  .carousel-img {
    /* height: 300px; */
    height: 305px;
  }

  .carousel-caption {
    margin-bottom: -4px;
  }

  .carousel-description {
    margin-bottom: -14px;
    font-size: 17px;
  }


  /* .....style for login page..... */

  .login-title {
    margin-top: 3px;
    margin-left: 120px;
  }

  .logo-login {
    height: 130px;
    width: 160px;
    margin-left: 170px;
    margin-bottom: 30px;
  }

  .user-icon {
    font-size: 30px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .icon-col {
    margin-left: 0px;
  }

  .login-btn-div {
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: 38px;
    margin-right: 1px;
  }

  .login-btn {
    font-size: 18px;
  }

  /* .....style for Profile Register form page..... */

  .page-hight {
    height: 755px;
  }

  .btn-profile-size {
    margin-right: -20px;
    margin-left: 15px;
    font-size: 18.5px;
  }

  .btn-acct-size {
    margin-left: 5px;
    font-size: 18.5px;
  }

  .register-description {
    font-size: 15.5px;
  }

  .col-margin {
    margin-top: 0px;
  }


  .register-text {
    margin-top: 25px;
    font-size: 17px;
  }

  .account-creation-form {
    margin-bottom: 40px;
  }

  .profession-session {
    margin-left: 100px;
  }

  .profession-small {
    margin-top: 0px;
  }

  .media-field {
    margin-left: 5px;
    width: 250px;
  }

  .tiktok {
    margin-left: 34px;
  }

  .contact-col {
    margin-top: 0px;
  }
  
  .mobile {
    margin-left: 13px;
  }

  .email {
    margin-left: 25px;
  }

  .web {
    margin-left: 5px;
  }

  .preview {
    margin-top: 20px;
    margin-left: 230px;
    height: 230px;
    width: 230px;
  }

  .showcase-col {
    margin-top: 20px;
  }

  .portfolio-head {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .portfolio-preview {
    margin-left: 50px;
  }

  .img-discription {
    text-align: center;
  }

  .portfolio-number {
    /* margin-left: 150px; */
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .portfolio-title {
    margin-bottom: 10px;
  }


  /* .....style for Edit Profile form / Manage account page..... */

  .edit-acct-nav-card {
    width: 25rem;
    margin-left: 170px;
    margin-bottom: 20px;
  }

  .profession-edit {
    margin-left: 80px;
  }

  .edit-bio-col {
    margin-bottom: 30px;
  }

  .edit-acct-btn {
  font-size: 20px;
  }
  


}



/*.................................. for laptop .................................. */


@media (min-width: 992px) {

  /* style for Navbar */

  .logo {
    margin-left: 15px;
    height: 80px;
  }

  .search-box {
    display: flex;
  }

  .search-box-sm {
    display: none;
  }

  .search-input-box {
    width: 650px;
    height: 45px;
    font-size: 18px;
  }

  .navAuthenFrame {
    font-size: 18px;
    margin-right: -30px;
  }

  .navAuthen {
    font-size: 18px;
    margin-right: 10px;
    text-align: end;
  }

  .nav-text {
    font-size: 19px;
  }

  /* style for View Freelancer / listing page */

  .filter-row {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .filter-tab {
    display: block;
    margin-right: 14px;
    margin-top: 5px;
  }
  
  .filter-col {
    font-size: 17px;
  }

  .card-listing {
    margin-left: 35px;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 20px;
  }

  .rating {
    font-size: 17px;
  }

  .card-text {
    font-size: 17px;
  }

  .listing-btn {
    font-size: 17px;
    margin-left: 30px;
  }

  /* .....style for Give review form page..... */

  .modal-body {
    font-size: 17px;
  }

  .review-title {
    margin-left: 15px;
  }

  .submit-review-btn {
    font-size: 17px;
  }

  /* .....style for View Profile page..... */

  
  .carousel-img {
    /* width: 100px; */
    height: 500px;
  }

  .carousel-description {
    margin-bottom: 0px;
    font-size: 18px;
  }

  .large-btn {
    font-size: 19px;
  }


  /* .....style for login page..... */

  .login-title {
    margin-left: 270px;
  }

  .logo-login {
    height: 150px;
    width: 180px;
    margin-left: 280px;
    margin-bottom: 30px;
  }

  .login-btn-div {
    margin-top: 45px;
    margin-bottom: 35px;
    margin-left: 60px;
    margin-right: 1px;
  }

  .login-btn {
    font-size: 20px;
  }


  /* .....style for Profile Register form page..... */

  .page-hight {
    height: 600px;
  }

  .btn-profile-size {
    margin-right: -5px;
    margin-left: 0px;
    font-size: 20px;
  }

  .btn-acct-size {
    margin-left: 5px;
    font-size: 20px;
  }

  .register-description {
    font-size: 16.5px;
  }
  

  #show-form {
    display: none;
  }

  .account-creation-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .register-text {
    margin-top: 35px;
    font-size: larger;
  }

  .profession-session {
    margin-left: 170px;
  }

  .media-field {
    margin-left: 5px;
    width: 400px;
  }

  .tiktok {
    margin-left: 36px;
  }

  .mobile {
    margin-left: 13px;
  }

  .email {
    margin-left: 27px;
  }

  .web {
    margin-left: 5px;
  }

  .preview {
    margin-top: 20px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 1px solid grey;
    height: 230px;
    width: 230px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
  }

  .showcase-col {
    margin-top: 0px;
  }

  .portfolio-preview {
    margin-left: 90px;
  }

  .portfolio-number {
    /* margin-left: 150px; */
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .portfolio-title {
    margin-bottom: 10px;
  }

  

  .account-btn:hover {
    background-color: rgb(221, 169, 178);
    color: black;
    font-weight: bold;
  }

  .error-msg-portfolio {
    text-align: center;
    color: red;
    padding-top: 15px;
  }

  /* .....style for Edit Profile form / Manage account page..... */

  .edit-acct-nav-card {
    width: 15rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .profession-edit {
    margin-left: 0px;
  }

  .edit-bio-col {
    margin-bottom: 0px;
  }





}